<ng-container *ngIf="user$ | async as user">
  <mat-card>
    <mat-card-header>
      <div
        *ngIf="user.photoURL"
        mat-card-avatar
        [ngStyle]="{ 'background-image': 'url(' + user.photoURL + ')' }"
        class="user-logged-header-image"
      ></div>
      <mat-card-title>{{ user.displayName }}</mat-card-title>
      <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button (click)="logout()">
        Desconectar
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
