/* You can add global styles to this file, and also import other style files */
@import 'libs/shared/themes/blue';
@import 'libs/ui/nav/src/lib/components/breadcrumbs/breadcrumbs.theme';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@include guiseek-breadcrumbs-theme($blue-theme);
