@import '~@angular/material/theming';



$custom-orange: (
  50: #fff3e0,
  100: #ffe0b2,
  200: #ffcc80,
  300: #ffb74d,
  400: #ffa726,
  500: #ff9800,
  600: #fb8c00,
  700: #f57c00,
  800: #ef6c00,
  900: #e65100,
  A100: #ffd180,
  A200: #ffab40,
  A400: #ff9100,
  A700: #ff6d00,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white
  )
);

@include mat-core();

$orange-primary: mat-palette($custom-orange);
$orange-accent: mat-palette($mat-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$orange-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$orange-theme: mat-light-theme(
  $orange-primary,
  $orange-accent,
  $orange-warn
);

@include angular-material-theme($orange-theme);

$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);


.orange-dark-theme {
  @include angular-material-theme($dark-theme);
}
